<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptocurrency Prices</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
          
        </ul>
    </nav>
    <div class="container">
        <h1>Cryptocurrency Prices</h1>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Currency</th>
                        <th>Price (USD)</th>
                    </tr>
                </thead>
                <tbody>
                    <% cryptoData.forEach(crypto => { %>
                        <tr>
                            <td><%= crypto.currency %></td>
                            <td><%= crypto.price %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>
    <footer>
        <div class="container">
            <p>&copy; 2023 Cryptocurrency Prices</p>
        </div>
    </footer>
</body>
</html>
