<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="#">Contact</a></li>
            
        </ul>
    </nav>
    <div class="login-container">
        <h2>Login</h2>
        <div id="msg"
        <% if (msg) { %>
            <p class="<%= msg_type %>"><%= msg %></p>
        <% } %>
    </div>
        <form action="/login" method="post">
            <label for="email">Email:</label>
            <input type="text" id="username" name="email" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <p class="forgot-password"><a href="/forgot-password">Forgot Password?</a></p>
    </div>
</body>
</html>