body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('bitcoin-5902666_1280.jpg');
}
label{
    color: chartreuse;
    
}
h2{
    color:yellow;
}
nav {
    background-color: #333;
    color: rgb(255, 33, 33);
    padding: 10px;
    text-align: end;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.login-container {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
}

.login-container h2 {
    text-align: center;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #e2e2e2;
    color: rgb(255, 4, 4);
    border: none;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #555;
}
#msg{
    color:white;
}
